body{
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
}
.suptitle-left{
  color: #FFF;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 7.333px;
  text-transform: uppercase;
}